/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

/* Estilo geral do corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f1e6; /* Fundo claro para contraste */
    color: #333; /* Cor do texto */
}

/* Cabeçalho */
header {
    background: #44663b; /* Mudado para verde */
    color: #f4f1e6;
    text-align: center;
    padding: 20px;
}
/* Cabeçalho da pagina HISTORIA */
.header_historia {
    background: #064c7a; /* Mudado para verde */
    color: #f4f1e6;
    text-align: center;
    padding: 20px;
}
/* Main da pagina HISTORIA */
.main_historia {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f5e3;
    border: 2px solid #07588f; /* Mudado para verde */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
/* Cabeçalho da pagina COMBATE*/
.header_combate {
    background: #791212; /* Mudado para verde */
    color: #f4f1e6;
    text-align: center;
    padding: 20px;
}
/* Main da pagina COMBATE */
.main_combate {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f5e3;
    border: 2px solid #721212; /* Mudado para verde */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}


header h1 {
    font-size: 2.5em;
    font-family: 'Cinzel', serif;
    margin-bottom: 10px;
}

/* Caixa de Direcionamento */
.history-box {
    background-color: #fff;
    color: #0e74b8;
    border: 2px solid #08598f;
    border-radius: 8px;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.history-box:hover {
    background-color: #2693db;
    color: #fff;
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}


/* Estilo da Página da História */
.history-content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f5e3;
    border: 2px solid #f9f5e3;
    border-radius: 8px;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    color: #333;
}

/* Estilo para as Divs dos Textos */

.history-content .terras {
    background-color: #ebebeb; /* Fundo azul claro */
    border: 2px solid #457b9d; /* Azul escuro */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.history-content .rainha {
    background-color: #ebebeb; /* Fundo rosa claro */
    border: 2px solid #292929; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.history-content .vidas {
    background-color: #ebebeb; /* Fundo rosa claro */
    border: 2px solid #9a30f1; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.history-content .povos {
    background-color: #ebebeb; /* Fundo rosa claro */
    border: 2px solid #0e9bec; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.history-content .espiritualidade {
    background-color: #ebebeb; /* Fundo rosa claro */
    border: 2px solid #b321ab; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.history-content .cultura {
    background-color: #ebebeb; /* Fundo rosa claro */
    border: 2px solid #8629d3; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.history-content .conflitos {
    background-color: #ebebeb; /* Fundo rosa claro */
    border: 2px solid #d12869; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.history-content .faccoes_nobre {
    background-color: #ebebeb; /* Fundo rosa claro */
    border: 2px solid #f19730; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.history-content .faccoes_barbaros {
    background-color: #ebebeb; /* Fundo rosa claro */
    border: 2px solid #f15d30; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.history-content .faccoes_prios {
    background-color: #ece4d6; /* Fundo rosa claro */
    border: 2px solid #19b332; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.history-content .faccoes_ordomagica {
    background-color: #ece4d6; /* Fundo rosa claro */
    border: 2px solid #2d91d3; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.history-content .faccoes_exercitorainha {
    background-color: #ece4d6; /* Fundo rosa claro */
    border: 2px solid #7dd32d; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.history-content .faccoes_pactoferro {
    background-color: #ece4d6; /* Fundo rosa claro */
    border: 2px solid #ca1414; /* Vermelho forte */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Títulos das Divs */
.history-content .rainha h2 {
    color: #292929; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}

.history-content .terras h2 {
    color: #457b9d; /* Azul escuro */
    font-size: 1.8em;
    margin-bottom: 10px;
}

.history-content .vidas h2 {
    color: #9a30f1; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
.history-content .povos h2 {
    color: #0e9bec; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
.history-content .espiritualidade h2 {
    color: #b321ab; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
.history-content .cultura h2 {
    color: #8629d3; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}

.history-content .conflitos h2 {
    color: #d12869; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
/* TITULOS NOBRES */
.history-content .faccoes_nobre h2 {
    color: #cf8229; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
.history-content .faccoes_nobre h3{
    color: #cf8229; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
.history-content .faccoes_nobre h4{
    color: #cf8229; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
/* TITULOS BARBAROS */
.history-content .faccoes_barbaros h2 {
    color: #d43403; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
.history-content .faccoes_barbaros h3 {
    color: #d43403; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
.history-content .faccoes_barbaros h4 {
    color: #d43403; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
/* TITULOS PRIOS */
.history-content .faccoes_prios h3 {
    color: #16a02d; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
.history-content .faccoes_ordomagica h3 {
    color: #267bb4; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
.history-content .faccoes_exercitorainha h3 {
    color: #67ad25; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}
.history-content .faccoes_pactoferro h3 {
    color: #ca1414; /* Vermelho forte */
    font-size: 1.8em;
    margin-bottom: 10px;
}


/* Caixa de combate */
.combate-box {
    background-color: #fff;
    color: #b80e0e;
    border: 2px solid #5a0606;
    border-radius: 8px;
    padding: 10px 15px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.combate-box:hover {
    background-color: #920707;
    color: #fff;
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}
/* Caixa de index */
.index-box {
    background-color: #fff;
    color: #44663b;
    border: 2px solid #2b4225;
    border-radius: 8px;
    padding: 10px 15px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.index-box:hover {
    background-color: #428f2b;
    color: #fff;
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}


/* Seção de Anotações */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f5e3;
    border: 2px solid #70a163; /* Mudado para verde */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.notepad {
    margin-bottom: 20px;
}

.notepad h2 {
    font-size: 1.8em;
    color: #70a163; /* Mudado para verde */
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Estilo das Notas */
.note {
    background-color: #fffdf5;
    border: 1px solid #70a163; /* Mudado para verde */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.note h3 {
    font-size: 1.4em;
    color:#70a163;
    margin-bottom: 8px;
    color: #333; /* Pode ser mantido, se preferir um contraste diferente */
}

/* Botão de Adicionar Nova Anotação */
.add-note {
    background-color: #70a163; /* Mudado para verde */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-note:hover {
    background-color: #70a163; /* Mantenha esta cor ou ajuste conforme necessário */
}

/* Rodapé */
footer {
    background-color: #44663b; /* Cor verde para o rodapé */
    color: #ffffff; /* Cor clara do texto do rodapé */
    text-align: center;
    padding: 10px 0;
}

/* Estilo para a seção de Equipamentos */
.equipments {
    background-color: #d9e9d3; /* Fundo claro para a seção */
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #70a163; /* Cor verde nas bordas */
    border-radius: 8px;
}

.equipments h2 {
    color: #70a163; /* Cor verde para títulos */
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #70a163; /* Cor verde nas bordas da tabela */
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #70a163; /* Cor verde para o cabeçalho da tabela */
    color: #f4f1e6; /* Cor clara do texto do cabeçalho */
}

table td {
    background-color: #ffffff; /* Fundo branco para as células da tabela */
}

/* Estilo para a Tabela de Raças */
.race-table {
    background-color: #d9e9d3; /* Fundo claro para a seção */
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #70a163; /* Cor verde para a borda */
    border-radius: 8px;
}

.race-table h2 {
    color: #70a163; /* Cor verde para o título */
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Estilo da Tabela */
.race-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.race-table th, .race-table td {
    border: 1px solid #70a163; /* Cor verde para as bordas */
    padding: 8px;
    text-align: left;
}

.race-table th {
    background-color: #70a163; /* Cor verde para o cabeçalho */
    color: #f4f1e6; /* Cor clara para o texto do cabeçalho */
}

.race-table td {
    background-color: #ffffff; /* Fundo branco para as células */
}
/* Estilo para a Tabela de Arquétipos */
.archetype-table {
    background-color: #d9e9d3; /* Fundo claro para a seção */
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #70a163; /* Cor verde para a borda */
    border-radius: 8px;
}

.archetype-table h2 {
    color: #70a163; /* Cor verde para o título */
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Estilo da Tabela */
.archetype-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.archetype-table th, .archetype-table td {
    border: 1px solid #70a163; /* Cor verde para as bordas */
    padding: 8px;
    text-align: left;
}

.archetype-table th {
    background-color: #70a163; /* Cor verde para o cabeçalho */
    color: #f4f1e6; /* Cor clara para o texto do cabeçalho */
}

.archetype-table td {
    background-color: #ffffff; /* Fundo branco para as células */
}
/* Estilo para a seção de Habilidades Ladino */
.ladino-skills {
    background-color: #f9f5e3; /* Fundo claro para a seção */
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #520100; /* Cor vermelha escura nas bordas */
    border-radius: 8px;
}

.ladino-skills h2 {
    color: #520100; /* Cor vermelha escura para o título */
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Estilo da Tabela */
.ladino-skills table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.ladino-skills th, .ladino-skills td {
    border: 1px solid #520100; /* Cor vermelha escura nas bordas da tabela */
    padding: 8px;
    text-align: left;
}

.ladino-skills th {
    background-color: #520100; /* Cor vermelha escura para o cabeçalho da tabela */
    color: #ffffff; /* Cor clara do texto no cabeçalho */
}

.ladino-skills td {
    background-color: #ffffff; /* Fundo branco para as células */
}

/* Estilo do Botão Ladino */
.ladino-skills button {
    background-color: #520100; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.ladino-skills button:hover {
    background-color: #290101; /* Cor mais escura ao passar o mouse */
}
/* Estilo do Botão Raça */
.race-table button {
    background-color: #70a163; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.race-table button:hover {
    background-color: #4b6b42; /* Cor mais escura ao passar o mouse */
}
.r-table button {
    background-color: #70a163; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.race-table button:hover {
    background-color: #4b6b42; /* Cor mais escura ao passar o mouse */
}

/* Estilo para a seção de Habilidades Mistico */
.mistico-skills {
    background-color: #f9f5e3; /* Fundo claro para a seção */
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #2a71cf; /* Cor vermelha escura nas bordas */
    border-radius: 8px;
}

.mistico-skills h2 {
    color: #2a71cf; /* Cor vermelha escura para o título */
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Estilo da Tabela */
.mistico-skills table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.mistico-skills th, .mistico-skills td {
    border: 1px solid #2a71cf; /* Cor vermelha escura nas bordas da tabela */
    padding: 8px;
    text-align: left;
}

.mistico-skills th {
    background-color: #2a71cf; /* Cor vermelha escura para o cabeçalho da tabela */
    color: #ffffff; /* Cor clara do texto no cabeçalho */
}

.mistico-skills td {
    background-color: #ffffff; /* Fundo branco para as células */
}
/* Estilo do Botão Mistico */
.mistico-skills button {
    background-color: #2a71cf; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.mistico-skills button:hover {
    background-color: #1c4983; /* Cor mais escura ao passar o mouse */
}

/* Estilo para a seção de Habilidades Guerreiro */
.guerreiro-skills {
    background-color: #f9f5e3; /* Fundo claro para a seção */
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #dfa505; /* Cor vermelha escura nas bordas */
    border-radius: 8px;
}

.guerreiro-skills h2 {
    color: #dfa505; /* Cor vermelha escura para o título */
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Estilo da Tabela */
.guerreiro-skills table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.guerreiro-skills th, .guerreiro-skills td {
    border: 1px solid #dfa505; /* Cor vermelha escura nas bordas da tabela */
    padding: 8px;
    text-align: left;
}

.guerreiro-skills th {
    background-color: #dfa505; /* Cor vermelha escura para o cabeçalho da tabela */
    color: #ffffff; /* Cor clara do texto no cabeçalho */
}

.guerreiro-skills td {
    background-color: #ffffff; /* Fundo branco para as células */
}

.guerreiro-skills button {
    background-color: #dfa505; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.guerreiro-skills button:hover {
    background-color: #b68809; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão Rainha */
.rainha button {
    background-color: #292929; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.rainha button:hover {
    background-color: #161616; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão Terras Prometidas */
.terras button {
    background-color: #457b9d; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.terras button:hover {
    background-color: #2d546d; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão Meios de Vida */
.vidas button {
    background-color: #8b2cda; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.vidas button:hover {
    background-color: #6a1fa7; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão Povos */
.povos button {
    background-color: #0e9bec; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.povos button:hover {
    background-color: #0970ac; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão Espiritualidade */
.espiritualidade button {
    background-color: #b321ab; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.espiritualidade button:hover {
    background-color: #6d1068; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão Casas da Nobreza */
.faccoes_nobre button {
    background-color: #f19730; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.faccoes_nobre button:hover {
    background-color: #ac6b21; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão Clãs Bárbaros */
.faccoes_barbaros button {
    background-color: #ff3c00; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.faccoes_barbaros button:hover {
    background-color: #a32600; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão A Igreja de Prios */
.faccoes_prios button {
    background-color: #19b332; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.faccoes_prios button:hover {
    background-color: #095015; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão Ordo Magica */
.faccoes_ordomagica button {
    background-color: #2d91d3; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.faccoes_ordomagica button:hover {
    background-color: #123e5c; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão O Exercito da Rainha */
.faccoes_exercitorainha button {
    background-color: #7dd32d; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.faccoes_exercitorainha button:hover {
    background-color: #335711; /* Cor mais escura ao passar o mouse */
}

/* Estilo do Botão O Pacto de Ferro */
.faccoes_pactoferro button {
    background-color: #ca1414; /* Cor verde para o botão */
    color: #f4f1e6;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.faccoes_pactoferro button:hover {
    background-color: #4d0505; /* Cor mais escura ao passar o mouse */
}

/* Estilos para a div com o parágrafo */
.styled-paragraph {
    background-color: #f0f0f0; /* Cor de fundo suave */
    border: 2px solid #791212; /* Borda verde suave */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno */
    max-width: 600px; /* Largura máxima */
    margin: 20px auto; /* Centralizar a div na página */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilo do parágrafo dentro da div */
.styled-paragraph p {
    color: #333; /* Cor do texto */
    font-size: 1.2em; /* Tamanho do texto */
    line-height: 1.6; /* Espaçamento entre linhas */
    text-align: justify; /* Alinhamento justificado */
    font-family: 'Arial', sans-serif; /* Fonte do texto */
}

/* Estilos para a div com o parágrafo */
.styled2-paragraph {
    background-color: #f0f0f0; /* Cor de fundo suave */
    border: 2px solid #791212; /* Borda verde suave */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno */
    max-width: 600px; /* Largura máxima */
    margin: 20px auto; /* Centralizar a div na página */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}


